elm-stuff
node_modules
build
codegen/Gen
public/*.png
public/*.otf
public/*.ttf
public/*.webp
public/*/*.webp
public/Slot/*.png
public/Badge/*.png
public/raw
public/originals
generated


# Local Netlify folder
.netlify
